<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinates Collection add/remove example</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../bower_components/ol3/ol.css">
    <link rel="stylesheet" href="../dist/angular-openlayers.css">
    <link rel="stylesheet" href="99-style.css">


    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/ol3/ol-debug.js"></script>
    <script src="../dist/angular-openlayers.js"></script>
    <script src="07-coordinates-collection-addremove.js"></script>
</head>

<body ng-app="example">
<div class="container-fluid">
    <div class="page-header">
        <h1>AngularOpenLayers examples</h1>
    </div>
    <h2>Dynamic feature addition/remove example</h2>
    <p>
        The following example shows how to add/remove dynamically features on/off the map.
    </p>
    <div class="container" ng-controller="exampleCtrl as ctrl">
        <aol-map>
            <aol-view aol-zoom="6">
                <aol-coordinate aol-x="5" aol-y="45">
                    <aol-projection aol-code="'EPSG:4326'"></aol-projection>
                </aol-coordinate>
            </aol-view>
            <aol-layer-tile>
                <aol-source-osm aol-url="'http://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png'">
                </aol-source-osm>
            </aol-layer-tile>

            <aol-layer-vector>
                <aol-source-vector>
                    <aol-feature>
                        <aol-style>
                            <aol-style-circle aol-radius="10" aol-snap-to-pixel="true">
                                <aol-style-fill aol-color="'#0000FF'"></aol-style-fill>
                                <aol-style-stroke aol-color="'#FF0000'" aol-width="1.25"></aol-style-stroke>
                            </aol-style-circle>
                        </aol-style>
                        <aol-geometry-multipoint>
                            <aol-collection-coordinate>
                                <aol-coordinate aol-model="coordinate" ng-repeat="coordinate in ctrl.coordinates">
                                    <aol-projection aol-code="'EPSG:4326'"></aol-projection>
                                </aol-coordinate>
                            </aol-collection-coordinate>
                        </aol-geometry-multipoint>
                    </aol-feature>
                </aol-source-vector>
            </aol-layer-vector>

        </aol-map>
        <div class="well">
            <button type="button" ng-click="ctrl.addCoordinate()"
                    class="btn dropdown-button navbar-btn btn-success center-block">add
            </button>
            <button type="button" ng-click="ctrl.removeCoordinate()"
                    class="btn dropdown-button navbar-btn btn-warning center-block">remove
            </button>
        </div>
    </div>
</div>
</body>
</html>
